body {
    background-color: black;
  }
  
  h1, h2 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    text-align: center;
    color: white;
    align-self: center;
  }
  a:link {
    color: green;
  }
  a:visited {
    color: gray;
  }