body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
  }
  
.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("/wedding/images/example_bg.jpeg");
    min-height: 100%; /* tai 75% */
    width: 100%;
  }
  
.menu {
    display: none;
}
.text-muted {
  color: #6c757d;
  font-size: 0.7em;
  font-style: italic;
}
.event {
  margin-bottom: 15px;
}
.event .time {
  font-weight: bold;
}
.event .description {
  margin-left: 10px;
}
p, a, h5 {
  font-style: normal;
}
.text {
  font-size: 90px;
}
.w3-button {
  -webkit-tap-highlight-color: transparent;
}
@media (max-width: 600px) {
  .text {
    font-size: clamp(20px, 40px, 60px);
  }
}

@media (max-width: 400px) {
  .text {
    font-size: clamp(15px, 40px, 50px); 
  }
}
@media (max-width: 600px) {
  .w3-button {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .w3-button {
    font-size: 12px;
  }
}